body{
    margin: 0;
    background-color: #18810f;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #000;
    color: yellowgreen;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 2 rem;
    font-family: 'Eater', serif;
}
form>label{
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0 .25rem;
}
fieldset{
    font-size: 1.5rem;
    margin: 1rem 0 .25rem;
    border: 3px solid yellowgreen;
    border-radius: .25rem;
}
form{
    background-color: rgba(0, 0, 0, 9);
    padding: 1rem 2rem;
    width: 50rem;
    max-width:calc(90% - 4rem);
    margin: 1rem auto;
}
/*Format for these selectors should input[type=text], input[type=email], etc...*/
text, email, date, number, color{
    font-size: 1.25rem;
    width: calc(100% - 1rem);
    border: 3px solid yellowgreen;
    padding: .5rem;
    border-radius: .25rem;
}
/*Format for these selectors should input[type=text], input[type=email], etc...*/
color{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}
/*Format for these selectors should input:focus[type=text], input:focus[type=email], etc...*/
Focus:text email, date, number, color{
    background-color:black;
    color: white;
    outline: none;
}
/*Format for these selectors should input[type=text], input[type=email], etc...*/
Reset, Submit{
    font-family: Eater, cursive;
    font-size: 1.5rem;
    padding: 1rem;
}
/*Format for these selectors should input[type=text], input[type=email], etc...*/
Submit{
    background-color: yellowgreen;
    color: yellowgreen;
}
/*Format for these selectors should input:hover[type=text]*/
Hover:sumbit{
    background-color: black;
    color: yellowgreen;
}
/*Format for these selectors should input:hover[type=text]*/
Hover:reset{
    color: black;
    background-color: red;
    border-color: red;
}
body{
    background-image: url(images/eyeballs.svg);
    background-size: 20%;
}